html {
    background-color: skyblue;
}
body {
    background-color: white;
    text-align: center;
    padding: 50px 0px;
    width: 600px;
    margin: 50px auto;
}
hr {
    width: 500px;
}
rect {
    fill: rgb(255, 0, 0);
    stroke-width: 1;
    stroke: black;
}
