html {
    background-color: skyblue;
}
body {
    background-color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 50px 20px;
    width: 600px;
    margin: 50px auto;
    border-radius: 20px;
}
hr {
    width: 500px;
}
input {
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 15px;
}
#red {
    background-color: red;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
rect {
    fill: rgb(0, 0, 0);
    stroke-width: 1;
    stroke: black;
}
